html, body {
    height: 100%;
}

/*.navbar {*/
    /*margin-bottom: 0 !important;*/
    /*border: none !important;*/
    /*z-index: 2;*/
/*}*/

/*.navigation-bar {*/
    /*background-color: #42A5F5 !important;*/
/*}*/

/*.navigation-bar a {*/
    /*color: white !important;*/
/*}*/

/*.navbar-default .navbar-toggle .icon-bar {*/
    /*background-color: #fff !important;*/
/*}*/

.sidenav {
    font-family: "Lato", sans-serif;
    height: 100%;
    width: 12%;
    min-width: 180px;
    position: fixed;
    z-index: 1;
    top: 50px;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 15px;
}

.sidenav a {
    padding: 10px 8px 10px 16px;
    text-decoration: none !important;
    font-size: 20px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #818181;
    background-color: #424242;
}

.sidenav .selected {
    color: white;
    font-weight: bold;
}

a.selected:hover {
    color: white;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.details-content {
    margin-left: 12% !important;
    z-index: -1;
}

#header {
    margin-top: 5px;
    margin-bottom: 5px;
}

#viz-canvas {
    min-height: 500px;
    height: 90%;
    width: 100%;
}

#timeline {
    height: 10%;
}

#timeline i {
    font-size: 1.5vw;
    margin-left: 20px;
    margin-right: 20px;
}

#timeline i:hover {
    cursor: pointer;
}

.details-content {
    height: 94.7%;
}

.visual-div {
    height: 65%;
}

.visual-div > div, .svg-container {
    height: 100%;
}

.information-div > ul {
    height: 7%;
}

.information-div > ul > li {
    width: 50%;
    text-align: center;
}

/*.tab-content, .tab-content > div {*/
    /*width: 100%;*/
    /*height: 100%;*/
/*}*/

.information-div .tab-content {
    width: 100%;
    height: calc(93% - 10px);
    border: #ddd 1px solid;
    /*border-radius: 1.5%;*/
    border-top: none;
}

.tab-content > div {
    padding-left: 10px;
    padding-right: 10px;
    overflow: auto;
    height: 100%;
}

.tab-content h3 {
    text-align: center;
    margin-top: 10px;
}

.tab-content p {
    font-size: 1vw;
}

.command-div {
    height: 29.7%;
}

#codetrace p {
    padding-left: 5px;
    padding-right: 5px;
}

#codetrace p.hightlighted {
    background-color: black;
    color: white;
}

.action-div {
    height: 94%;
}

.action-div button {
    margin-top: 5px;
    margin-bottom: 5px;
}

#execute {
    /*position: fixed;*/
    /*bottom: 0;*/
}